node_modules/
.env
.env.local
.env.development
.env.production

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# build folders
dist/
build/

# IDE files
.vscode/